/* Styles for facet counts */
.woogle-grey{
    color: #666; /* Grey color for the count text */
}


.remove-facet {
    float: right;
    color: grey;
    cursor: pointer;
}

.search-results__item-body{
    margin-bottom: 1rem;
}

/* Update */
.search-results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-results__title {
    margin: 0;
    flex-grow: 1;
    text-align: right;
    font-weight: 300;
}

.search-results-order {
    margin-left: 1rem; /* Add space between title and sort order */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.search-results__title::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 1.5rem; /* Adjust the height as needed */
    background-color: #ccc; /* Adjust the color as needed */
    margin-left: 1rem; /* Adjust the spacing as needed */
}



.matching-files-list {
    /* margin-left: 28px; */
    margin-top: 10px;
}

.accordion__button{
    padding: 1.225rem .625rem;
    font-size: 1.5rem;
}

.card-block h4{
    color: #a80a2d;
    margin-top: 0.5rem;
}



